# Dependencias de Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno local (si los usaras)
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de build (si tuvieras pasos de build específicos)
dist/
build/

# Archivos de configuración de IDEs
